h5py
joblib
mkl-service
mkl_fft
mkl_random
pillow
pytorch
scikit-learn
scipy
tensorboardx
torchaudio
torchvision

# Utility & Deep Learning Packages (Pip Dependencies)
absl-py
einops
filelock
huggingface-hub
loguru
matplotlib
msgpack-numpy
multimethod
numpy
pyyaml
tensorboard
tensorpack
timm
torchpack
tqdm